block content
p already having an account
 a(href="login")
   button(type="button") login
p Wants to register.Please Signup 
  a(href="signup")
   button(type="button",style="float:right;margin-left:10px;") signup
