//- form(method="post", action="/login")
//-  input(type="hidden", name="_method", value="PUT")
//-  p Email
//-   input(type="email", name="email")
//-  p Password
//-   input(type="password", name="password")
 
//-  p 
//-   input(type="submit" , value = "Login")

//-   if (message.length > 0)
//-   #alert
//-     p= message
block content
  form(method='POST')
    legend Login
    .form-group
      label(for='username') Username
      input.form-control(type='text', name='username', autofocus)
    .form-group
      label(for='password') Password
      input.form-control(type='password', name='password')
    button.btn.btn-primary(type='submit') Login
    a.btn.btn-link(href='/forgot') Forgot Password?
